<button class="bg-emerald-500 text-white px-4 py-1 rounded-lg cursor-pointer mb-1" routerLink="crear">Agregar</button>

<table class="w-full text-left table-auto min-w-max">
  <thead>
    <tr>
      <th class="p-4 border-b border-slate-600 bg-slate-700">
        <p class="text-sm font-normal leading-none text-slate-300">ID</p>
      </th>
      <th class="p-4 border-b border-slate-600 bg-slate-700">
        <p class="text-sm font-normal leading-none text-slate-300">Nombre</p>
      </th>
      <th class="p-4 border-b border-slate-600 bg-slate-700">
        <p class="text-sm font-normal leading-none text-slate-300">Precio</p>
      </th>
      <th class="p-4 border-b border-slate-600 bg-slate-700 text-center">
        <p class="text-sm font-normal leading-none text-slate-300">Acciones</p>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let servicio of servicios" class="hover:bg-slate-100">
      <td>{{ servicio.id }}</td>
      <td>{{ servicio.nombre }}</td>
      <td>S/ {{ servicio.precio?.toFixed(2) }}</td>
      <td class="flex gap-2 justify-center">
        <button
          class="bg-emerald-500 text-white px-4 py-2 rounded-lg cursor-pointer my-0.5"
          [routerLink]="['/dashboard/servicio/editar', servicio.id!]"
        >
          Editar
        </button>
        <button
          class="bg-red-500 text-white px-4 py-2 rounded-lg cursor-pointer my-0.5"
          (click)="eliminar(servicio.id)"
        >
          Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="mensajeExito" class="bg-green-100 text-green-800 px-4 py-2 mb-4 rounded">
  {{ mensajeExito }}
</div>

